body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #222629;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 15%;
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;
    
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}

.title p {
    margin: 0;
    color: white;
    font-size: 48px;
    font-weight: 400;
   
}

main {
    height: 85%;
    display: flex;
}

.nav-menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 30%;
    border-right: 2px solid #222629;
    background: #474b4f;
}

.nav-menu input {
    width: 100%;
    min-height: 10%;
}

#new-note {
    outline: none;
    padding-left: 15px;
    color: white;
    font-size: 24px;
    text-align: left;
    border: none;
    cursor: pointer;
    background: #61892f;
    box-shadow: inset 5px 5px #474b4f, inset -5px -5px #474b4f;
    transition: all 0.7s;
}

#new-note:hover {   
   background: #86c232;
   box-shadow: inset 2px 2px #474b4f, inset -2px -2px #474b4f;
}


.notes-section {
    width: 70%;
    background: #474b4f;
    display: flex;
    flex-direction: column;
}

.notes-section .time-section{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10%;
    line-height: 100%;
    border-bottom: 2px solid #222629;
}

textarea {
    outline: none;
    resize: none;
}


#time-section {
    height: 80%;
    background-color: #474b4f;
    font-size: 24px;
    width: 100%;
    border: none;
    color: #86c232;
    text-align: center;
}


.notes-section .text-area {
    color: white;
    margin: 3%;
    height: 100%;

}

.notes-section #text-area-input {
    color: white;
    height: 100%;
    width: 100%;
    background-color: #474b4f;
    border: none;
    outline: none;
    font-size: 32px;
}


.note  {
    display: flex;
    min-height: 10%;
    justify-content: space-between;
    align-items: center;
    outline: none;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    background: #61892f;
    box-shadow: inset 5px 5px #474b4f, inset -5px -5px #474b4f;
    transition: all 0.7s;
}

.note-header {
    overflow-wrap: break-word;
}

.note #note-header-text {
    background: transparent;
    margin: 0;
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.note-del-button {
    text-align: right;
    background: red;
    font-weight: bold;
    padding: 1%;
    border: 1px solid black;
    border-radius: 15%;
}

.note:hover {   
    background: #305700;
    box-shadow: inset 2px 2px #474b4f, inset -2px -2px #474b4f;
 }

 .selected-note {
    background: #305700;
    box-shadow: inset 2px 2px #474b4f, inset -2px -2px #474b4f;
 }
